@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto";
  font-size: 18px;
  background-color: white;
}

main {
  background-color: #f2f2f2;
  padding-bottom: 80px;
}

main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  main {
    flex-flow: row wrap;
    justify-content: space-around;
  }
  main .card-restaurant {
    width: 45%;
  }
  main .meal {
    width: 30%;
  }
  main h2 {
    width: 95%;
  }
}

.loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(352deg, #9356DC 0%, #FF79DA 100%);
  animation: load 0.3s 1.8s both;
}
.loader .dot {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.loader .dot:nth-child(1) {
  animation: loading 0.7s 0.08s 2, up-1 0.8s 1.2s cubic-bezier(0.68, -0.55, 0.9, 0.76) both;
  background: #adcdd2;
  box-shadow: 2px 2px 8px 0 gray;
}
@keyframes up-1 {
  30% {
    transform: scale(1, 0.9) translateY(5vh);
  }
  100% {
    transform: scale(0.8, 1) translateY(0);
  }
}
.loader .dot:nth-child(2) {
  animation: loading 0.7s 0.16s 2, up-2 0.8s 1.2s cubic-bezier(0.68, -0.55, 0.9, 0.76) both;
  background: #c2b8d4;
  box-shadow: 2px 2px 8px 0 gray;
}
@keyframes up-2 {
  30% {
    transform: scale(1, 0.9) translateY(2.5vh);
  }
  100% {
    transform: scale(0.8, 1) translateY(-5vh);
  }
}
.loader .dot:nth-child(3) {
  animation: loading 0.7s 0.24s 2, up-3 0.8s 1.2s cubic-bezier(0.68, -0.55, 0.9, 0.76) both;
  background: #d6a3d6;
  box-shadow: 2px 2px 8px 0 gray;
}
@keyframes up-3 {
  30% {
    transform: scale(1, 0.9) translateY(0);
  }
  100% {
    transform: scale(0.8, 1) translateY(-10vh);
  }
}
.loader .dot:nth-child(4) {
  animation: loading 0.7s 0.32s 2, up-4 0.8s 1.2s cubic-bezier(0.68, -0.55, 0.9, 0.76) both;
  background: #eb8ed8;
  box-shadow: 2px 2px 8px 0 gray;
}
@keyframes up-4 {
  30% {
    transform: scale(1, 0.9) translateY(2.5vh);
  }
  100% {
    transform: scale(0.8, 1) translateY(-5vh);
  }
}
.loader .dot:nth-child(5) {
  animation: loading 0.7s 0.4s 2, up-5 0.8s 1.2s cubic-bezier(0.68, -0.55, 0.9, 0.76) both;
  background: #ff79da;
  box-shadow: 2px 2px 8px 0 gray;
}
@keyframes up-5 {
  30% {
    transform: scale(1, 0.9) translateY(5vh);
  }
  100% {
    transform: scale(0.8, 1) translateY(0);
  }
}

@keyframes load {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
@keyframes loading {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
button {
  height: 60px;
  padding: 0 20px;
  margin: 20px auto;
  border-radius: 30px;
  border: none;
  color: white;
  font-size: 1.1em;
  font-weight: 500;
  background: linear-gradient(352deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 2px 2px 8px 0 gray;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: block;
  width: 50%;
  min-width: fit-content;
}
button:hover::after {
  opacity: 1;
}
button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 30px;
  z-index: -1;
  box-shadow: 4px 4px 14px 2px gray;
  background: linear-gradient(352deg, #a16be0 0%, #ff93e1 100%);
  opacity: 0;
}

.heart {
  position: relative;
  cursor: pointer;
  font-size: min(35px, 7vw);
}
.heart .far {
  position: absolute;
  top: 1px;
}
.heart .fas {
  color: transparent;
  background: linear-gradient(200deg, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  transform: scale(0);
  transition: transform 0.3s ease-in;
}
.heart:hover .fas {
  transform: scale(1.1);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 0;
}
header img {
  width: min(250px, 50%);
}
header i {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-size: 1.4em;
  color: #333333;
}
header i:hover {
  color: #9356DC;
}

.explication {
  display: flex;
  flex-direction: column;
}
@media (min-width: 992px) {
  .explication {
    flex-flow: row wrap;
    align-items: center;
  }
  .explication .explore {
    width: 50%;
    background-color: white;
  }
  .explication .operating {
    width: 50%;
    margin: 15px 0;
  }
}

.city {
  text-align: center;
  width: 100vw;
  background-color: #e0e0e0;
  border-top: gray 2px solid;
  color: #333333;
  height: 70px;
  line-height: 70px;
  font-size: 1.1em;
}
.city::before {
  font-family: "Font Awesome 5 Free";
  content: "\f3c5";
  padding-right: 15px;
}

.explore {
  text-align: center;
  background-color: #f2f2f2;
  padding: 50px 5%;
}
.explore h1 {
  font-size: 1.9em;
  font-weight: 700;
  margin: 20px auto;
  width: 75%;
}
.explore p {
  font-size: 1.4em;
  color: gray;
}

.operating {
  padding: 0 5%;
  margin: 50px 0;
}
.operating h2 {
  margin-bottom: 30px;
}
.operating__card {
  position: relative;
  margin-bottom: 30px;
  margin-left: 5%;
  width: auto;
  height: 70px;
  line-height: 70px;
  white-space: nowrap;
  background-color: #f2f2f2;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 0.3);
}
.operating__card:nth-child(1n+1)::before {
  content: "1";
}
.operating__card:nth-child(2n+1)::before {
  content: "2";
}
.operating__card:nth-child(3n+1)::before {
  content: "3";
}
@media (max-width: 360px) {
  .operating__card {
    font-size: 0.8em;
  }
}
.operating__card i {
  margin-left: 10px;
  color: gray;
  font-size: 1.1em;
  width: 15%;
  text-align: center;
  display: inline-block;
}
.operating__card::before {
  height: 25px;
  line-height: 25px;
  display: block;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%) translateX(-50%);
  width: 25px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  text-align: center;
}
.operating__card:last-child {
  background-color: #f2eafb;
}
.operating__card:last-child i {
  color: #9356DC;
}

#restaurants {
  padding: 50px 5%;
}
#restaurants h2 {
  margin-bottom: 20px;
}

.card-restaurant {
  position: relative;
  height: 325px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 8px 0 gray;
  transition: box-shadow 0.5s, transform 0.3s;
}
.card-restaurant:hover {
  box-shadow: 4px 4px 14px 2px gray;
}
.card-restaurant:hover img {
  transform: scale(1.2) rotate(3deg);
}
.card-restaurant__image {
  border-radius: 20px 20px 0 0;
  height: 70%;
  width: 100%;
  overflow: hidden;
}
.card-restaurant img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
}
.card-restaurant .new {
  height: 40px;
  line-height: 40px;
  position: absolute;
  right: 5%;
  top: 5%;
  width: 100px;
  text-align: center;
  font-weight: 600;
  border-radius: 5%;
  background-color: #99E2D0;
  color: #2c9c81;
}
.card-restaurant__description {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.title img {
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  overflow: hidden;
}
.title__text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -65px;
  padding: 30px 5% 10px;
  border-radius: 50px 50px 0 0;
  background-color: #f2f2f2;
  position: relative;
}
.title__text h1 {
  font-family: "Shrikhand";
  font-size: min(7vw, 50px);
}

.meal {
  width: 95%;
  margin: 20px auto 0;
  font-size: 1.1em;
  animation: appears 350ms ease-in-out both;
}
.meal:nth-child(1) {
  animation-delay: 0ms;
}
.meal:nth-child(1) .meal__card:nth-child(1) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 130ms;
}
.meal:nth-child(1) .meal__card:nth-child(2) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 260ms;
}
.meal:nth-child(1) .meal__card:nth-child(3) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 390ms;
}
.meal:nth-child(1) .meal__card:nth-child(4) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 520ms;
}
.meal:nth-child(1) .meal__card:nth-child(5) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 650ms;
}
.meal:nth-child(2) {
  animation-delay: 775ms;
}
.meal:nth-child(2) .meal__card:nth-child(1) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 905ms;
}
.meal:nth-child(2) .meal__card:nth-child(2) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 1035ms;
}
.meal:nth-child(2) .meal__card:nth-child(3) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 1165ms;
}
.meal:nth-child(2) .meal__card:nth-child(4) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 1295ms;
}
.meal:nth-child(2) .meal__card:nth-child(5) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 1425ms;
}
.meal:nth-child(3) {
  animation-delay: 1550ms;
}
.meal:nth-child(3) .meal__card:nth-child(1) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 1680ms;
}
.meal:nth-child(3) .meal__card:nth-child(2) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 1810ms;
}
.meal:nth-child(3) .meal__card:nth-child(3) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 1940ms;
}
.meal:nth-child(3) .meal__card:nth-child(4) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 2070ms;
}
.meal:nth-child(3) .meal__card:nth-child(5) {
  animation: appears 500ms ease-in-out both;
  animation-delay: 2200ms;
}
.meal h2 {
  text-transform: uppercase;
  font-weight: 300;
  padding-bottom: 10px;
  position: relative;
}
.meal h2::before {
  content: "";
  width: 50px;
  border-bottom: #99E2D0 4px solid;
  position: absolute;
  bottom: 0;
}
.meal__card {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-radius: 20px;
  height: 80px;
  margin: 20px 0;
  overflow: hidden;
  box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 0.3);
}
.meal__card--text {
  width: 88%;
  padding: 15px;
  padding-right: 0;
  overflow: hidden;
  flex-shrink: 0;
  transition: flex-shrink 0.5s;
}
.meal__card--text h3 {
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__card--text p {
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meal__card--price-check {
  width: 25%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.meal__card--price-check p {
  align-self: flex-end;
  flex-grow: 1;
  padding-bottom: 15px;
}
.meal__card--price-check div {
  height: 80px;
  line-height: 80px;
  flex-grow: 1;
  background-color: #99E2D0;
  color: white;
  font-size: 1.4em;
}
.meal__card--price-check div i {
  transform: rotate(-1turn);
  transition: transform 0.5s 0.1s;
}
.meal__card:hover .meal__card--text {
  flex-shrink: 1;
}
.meal__card:hover .meal__card--price-check i {
  transform: rotate(0);
}

@keyframes appears {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  61% {
    opacity: 0.9;
    transform: translateY(-3px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
footer {
  background-color: #333333;
  color: white;
  padding: 20px 30px;
}
footer h2 {
  font-family: "Shrikhand";
  font-size: 1.4em;
  font-weight: 100;
  margin: 20px 0;
}
footer h2:hover {
  color: #FF79DA;
}
footer li {
  margin-bottom: 10px;
  font-weight: 500;
}
footer li::before {
  display: inline-block;
  width: 30px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}
footer li:nth-child(1)::before {
  content: "\f2e7";
}
footer li:nth-child(2)::before {
  content: "\f4c4";
}
footer li:hover {
  color: #99E2D0;
}

/*# sourceMappingURL=style.css.map */
