button{
    height: 60px;
    padding: 0 map-get($paddings, button);
    margin: map-get($margins, height) auto;
    border-radius: map-get($border-radius, button);
    border: none;
    color: $color-background;
    font-size: map-get($font-sizes, button-mealText-cityName-operatingIcon);
    font-weight: 500;
    background: $color-btn;
    @include box-shadow($color-primary);
    cursor: pointer;
    position: relative;
    z-index: 1;
    display: block;
    width: 50%;
    min-width: fit-content;
    &:hover{
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: map-get($border-radius, button);
        z-index: -1;
        @include box-shadow('hover');
        background: $color-btn-hover;
        opacity: 0;
    }
}