.heart{
    position: relative;
    font-size: 35px;
    .far{
        position: absolute;
        transition: opacity 0.3s;
        transition-delay: 0.2s;
    }
    .fas{
        font-size: 1em;
        color: transparent;
        background: linear-gradient(200deg, $color-primary, $color-secondary);
        background-clip: text;
        transform: scale(0);
        transition: transform 0.3s ease-in;
    }
    &:hover{
        .fas{
            transform: scale(1);
        }
        .far{
            opacity: 0;
        }
    }
}