.heart{
    position: relative;
    cursor: pointer;
    font-size: min(map-get($font-sizes, heart),map-get($font-sizes, menu-title));
    .far{
        position: absolute;
        top: 1px;
    }
    .fas{
        color: transparent;
        background: linear-gradient(200deg, $color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text; // For Chrome
        transform: scale(0);
        transition: transform 0.3s ease-in;
    }
    &:hover{
        .fas{
            transform: scale(1.1);
        }
    }
}