.heart{
    position: relative;
    cursor: pointer;
    font-size: map-get($font-sizes , heart);
    .far{
        position: absolute;
        transition: opacity 0.3s 0.2s;
    }
    .fas{
        color: transparent;
        background: linear-gradient(200deg, $color-primary, $color-secondary);
        background-clip: text;
        transform: scale(0);
        transition: transform 0.3s ease-in;
    }
    &:hover{
        .fas{
            transform: scale(1);
        }
        .far{
            opacity: 0;
        }
    }
}