.loader{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-btn;
    animation: load 0.3s 1.8s both;
    .dot{
      width: 30px;
      height: 30px;
      border-radius: 100%;
      @for $i from 1 through 5{
      &:nth-child(#{$i}){
        animation: loading 0.7s (0.08s * $i) 2, up-#{$i} 0.8s 1.2s cubic-bezier(0.68,-0.55, 0.9, 0.76) both;
        background: mix($color-secondary, $color-tertiary, $i * 20%);
        @include box-shadow($color-primary);
        @at-root{
          @keyframes up-#{$i} {
            30%{transform: scale(1,0.9) translateY(nth($dot-down, $i));}
            100%{transform: scale(0.8,1) translateY(nth($dot-up, $i));}
          }
        }
      }
    }
  }
}
@keyframes load {
  0%{transform: translateY(0);}
  100%{transform: translateY(-100vh);}
}

@keyframes loading{
  0%{transform: scale(1);}
  50%{opacity: 0.5; transform: scale(2);}
  100%{transform: scale(1);}
}