.explore{
    text-align: center;    
    background-color: $color-darken-lighter;
    padding: map-get($sizes, larger) map-get($sizes, percent);
    h1{
        font-size: map-get($font-sizes , larger);
        font-weight: 700;
        margin: map-get($sizes, base) auto;
        width: 75%;
    }
    p{
        font-size: map-get($font-sizes , large);
        color: $color-darken-dark;
    }
}
