.operating{
    padding: 0 map-get($sizes, percent);
    margin: map-get($sizes, larger) 0;
    h2{
        margin-bottom: map-get($sizes, large);
    }
    &__card{
        position: relative;
        margin-bottom: map-get($sizes, large);
        margin-left: map-get($sizes, percent);
        width: auto;
        @include vertical-center(70px);
        white-space: nowrap;
        background-color: $color-darken-lighter;
        border-radius: map-get($sizes, base);
        font-weight: 500;
        @include box-shadow($color-darken-lighter);
        @include number-content;
        @media (max-width: 360px) {
            font-size: map-get($font-sizes , small);
        }
        i{
            margin-left: map-get($sizes, smaller);
            color: $color-darken-dark;
            font-size: map-get($font-sizes , base-plus);
            width: 15%;
            text-align: center;
            display: inline-block;
        }
        &::before{
            @include vertical-center(25px);
            display: block;
            position: absolute;
            bottom: 50%;
            transform: translateY(50%) translateX(-50%);
            width: 25px;
            background-color: $color-primary;
            color: $color-background;
            border-radius: 50%;
            font-size: map-get($font-sizes , before);
            text-align: center;
        }
        &:last-child{
            background-color: $color-primary-light;
            i{
                color: $color-primary;
            }
        }
    }
}