.operating{
    padding: 0 map-get($paddings, percent);
    margin: map-get($margins, operating) 0;
    h2{
        margin-bottom: map-get($margins, card-operating);
    }
    &__card{
        position: relative;
        margin-bottom: map-get($margins, card-operating);
        margin-left: map-get($margins, card-percent);
        width: auto;
        @include vertical-center(70px);
        white-space: nowrap;
        background-color: $color-background-lighter;
        border-radius: map-get($border-radius, cards);
        font-weight: 500;
        @include box-shadow($color-background-lighter);
        @include number-content;
        @media (max-width: 360px) {
            font-size: map-get($font-sizes, operating-text-mediaqueries);
        }
        i{
            margin-left: map-get($margins, li-and-i);
            color: $color-background-dark;
            font-size: map-get($font-sizes, button-mealText-cityName-operatingIcon);
            width: 15%;
            text-align: center;
            display: inline-block;
        }
        &::before{
            @include vertical-center(25px);
            display: block;
            position: absolute;
            bottom: 50%;
            transform: translateY(50%) translateX(-50%);
            width: 25px;
            background-color: $color-primary;
            color: $color-background;
            border-radius: map-get($border-radius, rounds);
            font-size: map-get($font-sizes, before-card-operating);
            text-align: center;
        }
        &:last-child{
            background-color: $color-primary-light;
            i{
                color: $color-primary;
            }
        }
    }
}