#restaurants{
    padding: map-get($sizes, larger) map-get($sizes, percent);
    h2{
        margin-bottom: map-get($sizes, base);
    }
}
.card-restaurant{
    position: relative;
    height: 65vw;
    margin-bottom: map-get($sizes, base);
    background-color: $color-background;
    border-radius: map-get($sizes, base);
    @include box-shadow($color-background);
    transition: transform 0.2s;
    &:hover{
        @include box-shadow('hover');
    }
    img{
        border-radius: map-get($sizes, base) map-get($sizes, base) 0 0;
        height: 70%;
        width: 100%;
        object-fit: cover;
    }
    .new{
        position: absolute;
        right: 5%;
        top: 5%;
        height: 40px;
        width: 100px;
        line-height: 40px;
        text-align: center;
        font-weight: 600;
        border-radius: map-get($sizes, percent);
        background-color: $color-tertiary;
        color: $color-tertiary-dark;
    }
    &__description{
        padding: 4%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 4vw;
    }
}