#restaurants{
    padding: map-get($sizes, larger) map-get($sizes, percent);
    h2{
        margin-bottom: map-get($sizes, base);
    }
}
.card-restaurant{
    position: relative;
    height: 325px;
    margin-bottom: map-get($sizes, base);
    background-color: $color-background;
    border-radius: map-get($sizes, base);
    @include box-shadow($color-background);
    transition: transform 0.2s;
    &:hover{
        @include box-shadow('hover');
    }
    img{
        border-radius: map-get($sizes, base) map-get($sizes, base) 0 0;
        height: 70%;
        width: 100%;
        object-fit: cover;
    }
    .new{
        @include vertical-center(40px);
        position: absolute;
        right: 5%;
        top: 5%;
        width: 100px;
        text-align: center;
        font-weight: 600;
        border-radius: map-get($sizes, percent);
        background-color: $color-tertiary;
        color: $color-tertiary-dark;
    }
    &__description{
        padding: map-get($sizes, small);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: map-get($font-sizes , card-text);
    }
}