@mixin box-shadow ($color-parametre) {
    $blur: 8px;
    $color: $color-darken-dark;
    $opacity: 100%;
    @if ($color-parametre == 'hover'){
        $blur: 12px;
        $color: $color-darken-darker;
        $opacity: 80%;
    }@else{
        @if ($color-parametre == $color-darken-lighter){
            $opacity: 30%;
        }
    }
    box-shadow: 2px 2px $blur 0 rgb($color, $opacity);
}


@mixin number-card {
    @for $i from 1 through 3 {
        &:nth-child(#{$i}n+1)::before{
            content: '#{$i}'
        }
    }
}