$sizes: (
    base: 20px,
    smaller: 10px,
    small: 15px,
    large: 30px,
    larger: 50px,
    percent: 5%
);
$font-sizes:(
    base: 18px,
    small: 0.8em,
    base-plus: 1.1em,
    large: 1.4em,
    larger: 1.9em,
    before: 12px,
    heart: 35px,
    menu-title: 6vw,
    card-text: 4vw
);

// Pour l'animation du loader
$dot-down: (5vh, 2.5vh, 0, 2.5vh, 5vh);
$dot-up: (0, -5vh, -10vh, -5vh, 0);