body{
    font-family: 'Roboto';
    font-size: map-get($font-sizes, base);
    background-color: $color-background;
}
main{
    background-color: $color-background-lighter;
    padding-bottom: 80px;
}
main{
    display: flex;
    flex-direction: column;
    @media (min-width: 992px) {
        flex-flow: row wrap;
        justify-content: space-around;
        .card-restaurant{
            width: 45%;
        }
        .meal{
            width: 30%;
        }
        h2{ width: 95%;}
    }
}