header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: map-get($paddings, logo) 0;
    img{
        width: min(250px, 50%);
    }
    i{
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        font-size: map-get($font-sizes, bigIcons-subtitle-logoFooter);
        color: $color-background-darker;
        &:hover{
            color: $color-primary;
        }
    }
}