.title{
    img{
        width: 100%;
        max-height: 450px;
        object-fit: cover;
        overflow: hidden;
    }
    &__text{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: -65px;
        padding: map-get($sizes, large) map-get($sizes, percent) map-get($sizes, smaller);
        border-radius: map-get($sizes, larger) map-get($sizes, larger) 0 0;
        background-color: $color-darken-lighter;
        position: relative;
        h1{
            font-family: 'Shrikhand';
            font-size: min(map-get($font-sizes , menu-title), 50px);
        }
    }
}